<section class="faq__btm">
  <div class="container line pb-130">
    <div class="line-3"></div>
    <div class="row">
      <div class="col-xxl-12">
        <div
          class="sec-title-wrapper"
          data-speed="1"
          data-lag="0.2"
          style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); will-change: transform;"
        >
          <h2 class="sec-title title-anim" style="perspective: 400px;">
            <div
              style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 648px 30px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            >
              Ready to
              <span class="s_color">Get Started</span>
              with Us?
            </div>
          </h2>
          <p class="sub-title-anim">
            Don't wait any longer! We're here to help you achieve your goals.
            Reach out now and
            <span class="s_color">let's work together</span>
            to make your vision a reality.
          </p>
          <div
            class="btn_wrapper"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;"
          >
            <a href="/contact-us" class="wc-btn-primary btn-hover btn-item">
              <span></span>
              Contact Us Now
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>