<footer class="footer__area" data-scroll-section="">
  <div class="footer__top">
    <div class="container footer-line"></div>
    <img
      src="/assets/imgs/digital-world-map-3d-render_242662-654.jpg"
      alt="Footer Image"
      data-speed="0.5"
      style="translate: none; rotate: none; scale: none; transform: translate(0px, 55.75px); will-change: transform;"
      data-lag="0"
    />
  </div>

  <div class="footer__btm">
    <div class="container">
      <div class="row footer__row">
        <div class="col-xxl-12">
          <div class="footer__inner">
            <div class="footer__widget">
              <img
                class="footer__logo"
                src="/assets/imgs/logo/footer-logo-white.png"
                alt="Footer Logo"
              />
              <p>When do they work well, and when do they on us and finally,
                when do we actually need how can we avoid them.</p>
              <ul class="footer__social">
                <li><a href="#"><span><i
                        class="fa-brands fa-facebook-f"
                      ></i></span></a></li>
                <li><a href="#"><span><i
                        class="fa-brands fa-twitter"
                      ></i></span></a></li>
                <li><a href="#"><span><i
                        class="fa-brands fa-instagram"
                      ></i></span></a></li>
                <li><a href="#"><span><i
                        class="fa-brands fa-linkedin"
                      ></i></span></a></li>
              </ul>
            </div>

            <div class="footer__widget-2">
              <h2 class="footer__widget-title">Information</h2>
              <ul class="footer__link">
                <li><a href="/services/paid-search">Paid Search</a></li>
                <li><a href="/services/seo">SEO</a></li>
                <li><a href="/services/paid-social">Paid Social</a></li>
                <li><a href="/services/amazon">Amazon Marketing</a></li>
                <li><a href="/services/lifecycle-marketing">Lifecycle Marketing</a></li>
                <li><a href="/services/creative-services">Creative Services</a></li>
              </ul>
            </div>

            <div class="footer__widget-3">
              <h2 class="footer__widget-title">Contact Us</h2>
              <ul class="footer__contact">
                <li>Sample, Street Road 24, Samples, Sample - 67452</li>
                <li><a href="tel:02574328301" class="phone">+02) 574 - 328 - 301
                  </a></li>
                <li><a href="mailto:info@sample.com">info@sample.com</a></li>
              </ul>
            </div>

            <div class="footer__widget-4">
              <h2 class="project-title">Have a project in your mind?</h2>
              <div
                class="btn_wrapper"
                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;"
              >
                <a
                  href="/contact-us"
                  class="wc-btn-primary btn-hover btn-item"
                  style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                ><span style="top: 103px; left: 185.844px;"></span>
                  contact us
                  <i class="fa-solid fa-arrow-right"></i></a>
              </div>
              <h3 class="contact-time">09 : 00 AM - 10 : 30 PM</h3>
              <h4 class="contact-day">Saturday - Thursday</h4>
            </div>

            <div class="footer__copyright">
              <p>© 2022 - 2025 | Alrights reserved by
                <a href="https://jsraghavan.me/" target="_blank">Sample</a>
              </p>
            </div>

            {{! Update By Raghavan }}

            <div class="footer__subscribe">
              <form action="#">
                <input
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                  fdprocessedid="4ts3eh"
                />
                <button type="submit" class="subs-btn" fdprocessedid="9f425"><i
                    class="fa-solid fa-paper-plane"
                  ></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>