<footer class="bg-navy text-inverse">
  <div class="container pt-15 pt-md-17 pb-13 pb-md-15">
    <div class="d-lg-flex flex-row align-items-lg-center">
      <h3
        class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white"
      >Let’s get in touch to see if we’re a good fit to help you reach your
        business goals.</h3>
      <a
        href="mailto:contact@sample.com"
        class="btn btn-primary rounded-pill mb-0 text-nowrap"
      >Contact the Sample Team</a>
    </div>
    <!--/div -->
    <hr class="mt-11 mb-12" />
    <div class="row gy-6 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <img class="mb-4" src="/img/logo-light.png" alt=" Advertising Logo" />
          <p class="mb-4">© 2024 Advertising. All rights reserved.</p>
          <nav class="nav social social-white">
            <a href="https://twitter.com/" target="_blank"><i
                class="uil uil-twitter"
              ></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i
                class="uil uil-facebook-f"
              ></i></a>
            <a href="https://dribbble.com/" target="_blank"><i
                class="uil uil-dribbble"
              ></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
                class="uil uil-instagram"
              ></i></a>
            <a href="https://www.youtube.com/channel/" target="_blank"><i
                class="uil uil-youtube"
              ></i></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Contact Us</h4>
          <address class="pe-xl-15 pe-xxl-17">1234 Innovation Blvd, Suite 300,
            Salt Lake City, UT, USA</address>
          <a href="tel:+18779567510">(877) 956-7510</a><br />
          <a href="mailto:contact@sample.com">contact@.com</a>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Services</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="#">Paid Search</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Paid Social</a></li>
            <li><a href="#">Amazon Marketing</a></li>
            <li><a href="#">Lifecycle Marketing</a></li>
            <li><a href="#">Creative Services</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-12 col-lg-3">
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Company</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Values</a></li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Meet Our Team</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Giving Back</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>

  </div>
  <!-- /.container -->
</footer>