<footer class="footer__area-6">
  <div class="container g-0 line_4">
    <div class="line-col-4">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="row">
      <div class="col-xxl-12">
        <div class="footer__top-6 pt-150 pb-140">
          <div class="footer__item-6">
            <img
              class="footer__logo logo-light"
              src="assets/imgs/logo/site-logo-white-2.png"
              alt="Advertising Logo"
            />
            <img
              class="footer__logo logo-dark"
              src="assets/imgs/logo/site-logo-white-2.png"
              alt="Advertising Logo"
            />
            <p>Let’s get in touch to see if we’re a good fit to help you reach
              your business goals.</p>
            <ul class="footer__social-6">
              <li><a href="#"><span><i
                      class="fa-brands fa-facebook-f"
                    ></i></span></a></li>
              <li><a href="#"><span><i
                      class="fa-brands fa-twitter"
                    ></i></span></a></li>
              <li><a href="#"><span><i
                      class="fa-brands fa-instagram"
                    ></i></span></a></li>
              <li><a href="#"><span><i
                      class="fa-brands fa-linkedin"
                    ></i></span></a></li>
            </ul>
          </div>

          <div class="footer__item-6">
            <h2 class="footer__item-title">Services</h2>
            <ul class="footer__link-6">
              <li><a href="#">Paid Search</a></li>
              <li><a href="#">SEO</a></li>
              <li><a href="#">Paid Social</a></li>
              <li><a href="#">Amazon Marketing</a></li>
              <li><a href="#">Lifecycle Marketing</a></li>
              <li><a href="#">Creative Services</a></li>
            </ul>
          </div>

          <div class="footer__item-6">
            <h2 class="footer__item-title">Contact Us</h2>
            <ul class="footer__info-6">
              <li>1234 Innovation Blvd, Suite 300, Salt Lake City, UT, USA</li>
              <li><a href="tel:8779567510" class="phone">(877) 956-7510</a></li>
              <li><a href="mailto:contact@.com">contact@.com</a></li>
            </ul>
          </div>

          <div class="footer__item-6">
            <h2 class="footer__item-title">Company</h2>
            <ul class="footer__link-6">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Values</a></li>
              <li><a href="#">Our Mission</a></li>
              <li><a href="#">Meet Our Team</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Culture</a></li>
              <li><a href="#">Giving Back</a></li>
            </ul>
          </div>
        </div>

        <div class="footer__btm-6">
          <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
              <div class="footer__copyright-6">
                <p>© 2024 Advertising. All rights reserved.</p>
              </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7">
              <div class="footer__nav">
                <ul class="footer-menu menu-anim">
                  <li><a href="about.html"><div class="menu-text"><span
                        >a</span><span>b</span><span>o</span><span>u</span><span
                        >t</span><span> </span><span>u</span><span
                        >s</span></div></a></li>
                  <li><a href="contact.html"><div class="menu-text"><span
                        >c</span><span>o</span><span>n</span><span>t</span><span
                        >a</span><span>c</span><span>t</span></div></a></li>
                  <li><a href="careers.html"><div class="menu-text"><span
                        >C</span><span>a</span><span>r</span><span>e</span><span
                        >e</span><span>r</span></div></a></li>
                  <li><a href="faq.html"><div class="menu-text"><span
                        >F</span><span>A</span><span>Q</span><span
                        >s</span></div></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>