<!-- Header area start -->
<header class="header__area-3">
  <div class="header__inner-3">
    <div class="header__logo-2">
      <a href="index.html" class="logo-dark"><img
          src="assets/imgs/logo/logo-black.png"
          alt="Site Logo"
        /></a>
      <a href="index.html" class="logo-light"><img
          src="assets/imgs/logo/site-logo-white-2.png"
          alt="Site Logo"
        /></a>
    </div>
    <div class="header__nav-2">
      <ul class="main-menu-3 menu-anim">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="has-megamenu">
          <a href="#">All Services</a>
          <ul class="mega-menu">
            <li><a href="#">Paid Search</a></li>
            <li><a href="#">Amazon</a></li>
            <li><a href="#">Lead Generation</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Lifecycle Marketing</a></li>
            <li><a href="#">eCommerce</a></li>
            <li><a href="#">Paid Social</a></li>
            <li><a href="#">Creative</a></li>
          </ul>
        </li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li class="has-megamenu">
          <a href="#">Resources</a>
          <ul class="mega-menu">
            <li><a href="#">Webinars/Trainings</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="header__nav-icon-3">
      <button class="search-icon" id="search_icon"><i
          class="fa-solid fa-magnifying-glass"
        ></i></button>
      <button class="search-icon" id="search_close"><i
          class="fa-solid fa-xmark"
        ></i></button>
      <button id="open_offcanvas"><img
          src="assets/imgs/icon/menu-black.png"
          alt="Menubar Icon"
        /></button>
    </div>
  </div>
</header>
<!-- Header area end -->

<!-- Offcanvas area start -->
<div class="offcanvas__area">
  <div class="offcanvas__body">
    <div class="offcanvas__left">
      <div class="offcanvas__logo">
        <a href="index.html"><img
            src="assets/imgs/logo/site-logo-white-2.png"
            alt="Offcanvas Logo"
          /></a>
      </div>
      <div class="offcanvas__social">
        <h3 class="social-title">Follow Us</h3>
        <ul>
          <li><a href="#">Dribbble</a></li>
          <li><a href="#">Behance</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
      <div class="offcanvas__links">
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">contact</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="blog.html">blog</a></li>
        </ul>
      </div>
    </div>

    <div class="offcanvas__mid">
      <div class="offcanvas__menu-wrapper mean-container">
        <div class="mean-bar">
          <a
            href="#nav"
            class="meanmenu-reveal"
            style="right: 0px; left: auto; display: inline;"
          >
            <span><span><span></span></span></span>
          </a>
          <nav class="mean-nav">
            <ul class="menu-anim" style="display: none;">
              <li><a href="/"><div class="menu-text"><span
                    >Home</span></div></a></li>
              <li><a href="/about"><div class="menu-text"><span>About Us
                    </span></div></a></li>
              <li>
                <a><div class="menu-text"><span>All Services</span></div></a>
                <ul style="display: none;">
                  <li><a href="paid-search.html">Paid Search</a></li>
                  <li><a href="amazon.html">Amazon</a></li>
                  <li><a href="lead-generation.html">Lead Generation</a></li>
                  <li><a href="seo.html">SEO</a></li>
                  <li><a href="lifecycle-marketing.html">Lifecycle Marketing</a></li>
                  <li><a href="ecommerce.html">eCommerce</a></li>
                  <li><a href="paid-social.html">Paid Social</a></li>
                  <li><a href="creative.html">Creative</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 36px;">+</a>
              </li>
              <li><a href="/contact-us"><div class="menu-text"><span>Contact Us</span></div></a></li>
              <li><a><div class="menu-text"><span>Blog</span></div></a></li>
              <li>
                <a><div class="menu-text"><span>Resources</span></div></a>
                <ul style="display: none;">
                  <li><a href="webinars.html">Webinars/Trainings</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 36px">+</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="offcanvas__right">
      <div class="offcanvas__search">
        <form action="#">
          <input type="text" name="search" placeholder="Search keyword" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="offcanvas__contact">
        <h3>Get in touch</h3>
        <ul>
          <li><a href="tel:02094980547">+(02) - 094 980 547</a></li>
          <li><a
              href="mailto:info@extradesign.com"
            >info@extradesign.com</a></li>
          <li>230 Norman Street New York, QC (USA) H8R 1A1</li>
        </ul>
      </div>
      <img src="assets/imgs/shape/11.png" alt="shape" class="shape-1" />
      <img src="assets/imgs/shape/12.png" alt="shape" class="shape-2" />
    </div>
    <div class="offcanvas__close">
      <button type="button" id="close_offcanvas"><i
          class="fa-solid fa-xmark"
        ></i></button>
    </div>
  </div>
</div>
<!-- Offcanvas area end -->