<section class="hero__about">
  <div class="container g-0 line">
    <span class="line-3"></span>
    <div class="row">
      <div class="col-xxl-12">
        <div class="hero__about-content">
          <h1 class="hero-title animation__word_come" style="height: 300px;">
            We provide the right talent, expertise, and tools to meet your
            needs—every time.
          </h1>
          <div class="hero__about-info">
            <div class="hero__about-btn">
              <div
                class="btn_wrapper"
                style="transform: translate(0px, 0px); opacity: 1;"
              >
                <a
                  href="service.html"
                  class="wc-btn-primary btn-hover btn-item"
                >
                  <span></span>
                  Explore Our Services
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div
              class="hero__about-text title-anim"
              style="perspective: 400px;"
            >
              <p>Our team brings together a unique combination of talent,
                expertise, and technology to deliver solutions tailored to your
                needs. Since 2013, we have been helping businesses achieve their
                goals with precision and excellence.</p>
            </div>
            <div class="hero__about-award">
              <img src="assets/imgs/about/award.png" alt="Best Studio Award" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hero__about-row">
      <div class="col-xxl-12">
        <div class="hero__about-video">
          <video loop muted autoplay playsinline>
            <source src="assets/video/video.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Story area start -->
<section class="story__area">
  <div class="container g-0 line pt-140">
    <span class="line-3"></span>
    <div class="sec-title-wrapper">
      <div class="from-text">from <span>2024</span></div>

      <div class="row">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
          <h2 class="sec-sub-title title-anim" style="perspective: 400px;">
            <div>Digital Studio</div>
          </h2>
          <h3 class="sec-title title-anim" style="perspective: 400px;">
            <div class="s_color">What We Do</div>
          </h3>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
          <div class="story__text">
            <p>At Disruptive Advertising, we empower authentic marketers by
              aligning the right people, skills, and tools to achieve
              breakthrough results. Our team works exclusively with brands we
              believe in, ensuring a dedicated, focused approach to your
              business success. We focus on innovation and excellence in every
              marketing effort, driving real impact through strategy, talent,
              and creativity.</p>
            <p>We work exclusively with brands and people we believe in,
              ensuring that our hearts and minds are fully committed to your
              success. Authenticity drives value, growth, and sustainability.</p>
            <p>Our team of skilled marketers is passionate about what they do.
              Through our Disruptive University program, we continuously develop
              and retain talent that drives impact for your business.</p>
            <p>We align your business goals with the right marketing strategy,
              ensuring every effort is purposeful. Our Disruptive Difference
              process clarifies your objectives and uses data-driven decisions
              to win in every marketing channel.</p>
            <p>We leverage the right people, tools, and technology to drive
              breakthrough results. Our experts constantly innovate, exploring
              new ways to deliver success beyond the playbooks and best
              practices.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
        <div class="story__img-wrapper">
          <img
            src="assets/imgs/story/1.jpg"
            alt="Story Thumbnail"
            class="w-100"
          />
        </div>
      </div>
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
        <div class="story__img-wrapper img-anim">
          <img
            src="assets/imgs/story/2.jpg"
            alt="Story Thumbnail"
            data-speed="auto"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 492.268px); will-change: transform;"
            data-lag="0"
          />
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
        <div class="story__img-wrapper">
          <img src="assets/imgs/story/3.jpg" alt="Story Thumbnail" />
          <img src="assets/imgs/story/4.jpg" alt="Story Thumbnail" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Story area end -->

<!-- Counter area start -->
<section class="counter__area">
  <div class="container g-0 line pb-140 pt-140">
    <span class="line-3"></span>

    <div class="row">
      <div class="col-xxl-12">
        <div class="counter__wrapper-2 counter_animation">
          <div class="counter__item-2 counter__anim">
            <h2 class="counter__number s_color">90+</h2>
            <p>Clients with us <br />for 4 years or more</p>
            <span class="counter__border"></span>
          </div>
          <div class="counter__item-2 counter__anim">
            <h2 class="counter__number s_color">160+</h2>
            <p>Employees aligned <br />with our mission</p>
            <span class="counter__border"></span>
          </div>
          <div class="counter__item-2 counter__anim">
            <h2 class="counter__number s_color">#145</h2>
            <p>On the Inc. 500 <br />Fastest-Growing Companies list</p>
            <span class="counter__border"></span>
          </div>
          <div class="counter__item-2 counter__anim">
            <h2 class="counter__number s_color">$450M+</h2>
            <p>In annual ad-spend <br />managed for clients</p>
            <span class="counter__border"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter area end -->

<!-- Brand area start -->
<section class="brand__area">
  <div class="container g-0 line pt-140 pb-140">
    <span class="line-3"></span>
    <div class="row g-0">
      <div class="col-xxl-12">
        <div class="sec-title-wrapper">
          <h2 class="sec-sub-title title-anim" style="perspective: 400px;"><div
              style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 660px 10.7969px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            >Internation Brands</div></h2>
          <h3 class="sec-title title-anim" style="perspective: 400px;"><div
              style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 660px 30px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            >We are happy to work with global </div><div
              style="display: block; text-align: start; position: relative; translate: none; rotate: none; scale: none; transform-origin: 660px 30px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            > <span class="s_color"> largest brands </span></div></h3>
        </div>
      </div>

      <div class="brand__list">
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/1.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/2.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/3.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/4.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/5.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/6.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/3.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/4.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/5.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/6.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/1.png" alt="Brand Logo" />
        </div>
        <div
          class="brand__item fade_bottom"
          style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
        >
          <img src="assets/imgs/brand/2.png" alt="Brand Logo" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brand area end -->

<!-- CTA area start -->
<section class="cta__area">
  <div class="container line pb-110 dark-p">
    <div class="line-3"></div>
    <div class="row">
      <div class="col-xxl-12">
        <div class="cta__content">
          <p class="cta__sub-title s_color">Work with us</p>
          <h2 class="cta__title title-anim" style="perspective: 400px;"><div
              style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 324px 25px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            >We would love to hear more </div><div
              class="s_color"
              style="display: block; text-align: center; position: relative; translate: none; rotate: none; scale: none; transform-origin: 324px 25px; transform: translate3d(0px, 0px, 0px); opacity: 1;"
            >about your project</div></h2>
          <div
            class="btn_wrapper"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;"
          >
            <a
              href="/contact-us"
              class="wc-btn-primary btn-hover btn-item"
            ><span></span>Let’s talk us
              <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA area end -->