<div id="smooth-wrapper">
  <div id="smooth-content">
    <main>

      <div class="portfolio__page">
        <div class="swiper portfolio__main-slider">
          <div class="swiper-wrapper portfolio__main-wrapper">
            <div class="swiper-slide">
              <section class="hero__area-6">
                <div class="container g-0 line_4">
                  <div class="line-col-4">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>

                  <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="hero__content-6 hero__six_anim">
                        <img
                          class="hero__arrow-icon"
                          src="/imgs/hero/4/arrow-icon.png"
                          alt="Arrow Icon"
                        />
                        <h1 class="hero__title-6">
                          Empowering Your Ideas
                          <br />
                          with Us
                        </h1>
                        <p>
                          Transforming your concepts into reality, Bumble Bees
                          IT Solutions is your dedicated partner for innovative
                          and tailored IT solutions.
                        </p>
                        <a class="btn-started btn-hover" href="contact.html">Get
                          Started</a>
                      </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="hero__right-6">
                        <img src="/imgs/hero/4/hero-4.png" alt="Hero Image" />
                      </div>
                    </div>
                  </div>
                </div>
                <img
                  class="hero__shape"
                  src="/imgs/hero/4/hero-shape.png"
                  alt="Shape Image"
                />
                <img
                  class="hero__shape-2"
                  src="/imgs/hero/4/hero-shape-2.png"
                  alt="Layout"
                />
                <img
                  class="hero__shape-3"
                  src="/imgs/hero/4/hero-shape-3.png"
                  alt="Star Icon"
                />
                <img class="shape-4" src="/imgs/shape/20.png" alt="Star Icon" />
              </section>

            </div>

            <div class="swiper-slide">
              <section class="portfolio-section portfolio__about pt-140 pb-150">
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-8 col-xxl-8 col-lg-8">
                      <div class="portfolio__about-left">
                        <h2 class="sec-title">

                          <span>DRIVE IMMEDIATE IMPACT FOR YOUR BUSINESS</span>
                        </h2>
                        <img src="/imgs/shape/16.png" alt="Shape" />
                      </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4">
                      <div class="sec-text">
                        <p>Experience The Disruptive Difference &amp; receive a
                          winning strategy within your first 30 days for FREE.
                          We only work with brands we believe in, see if you
                          qualify.</p>
                        <a href="#" class="wc-btn-dark">About us</a>
                      </div>
                    </div>
                  </div>

                  <div class="about-row">
                    <div class="row">
                      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
                        <div class="brand-title-wrap">
                          <h3 class="brand-title">Rated 4.8/5 On Clutch ★★★★★
                            1000+ Reviews</h3>
                        </div>
                      </div>
                      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8">
                        <div class="brand-list">
                          <div class="brand-logo">
                            <img src="/imgs/brand/1.png" alt="Brand Logo" />
                          </div>
                          <div class="brand-logo">
                            <img src="/imgs/brand/2.png" alt="Brand Logo" />
                          </div>
                          <div class="brand-logo">
                            <img src="/imgs/brand/3.png" alt="Brand Logo" />
                          </div>
                          <div class="brand-logo">
                            <img src="/imgs/brand/4.png" alt="Brand Logo" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>

            <div class="swiper-slide">
              <section class="faq__area-4 pt-150 pb-150">
                <div class="container g-0">
                  <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-6">
                      <div class="faq__sec-title text-anim">
                        <h2 class="sec-subtile-6">Our Expertise</h2>
                        <h3
                          class="sec-title-6 title-anim"
                          style="perspective: 400px;"
                        >
                          <div>With over $450 million in annual managed ad
                            spend,</div>
                          <div>Disruptive Advertising has become the #1 most
                            reviewed digital marketing agency.</div>
                        </h3>
                        <p style="perspective: 400px;">
                          We elevate businesses through innovative, data-driven
                          strategies that foster growth and sustainability.
                        </p>
                        <a class="btn-view" href="about.html">Learn More
                          <i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>

                    <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6">
                      <div class="faq__list-4">
                        <div class="accordion" id="accordionExample">
                          <div
                            class="accordion-item fade_bottom_3"
                            style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
                          >
                            <h2 class="accordion-header" id="headingOne">
                              <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                              >
                                Authenticity at Our Core
                              </button>
                            </h2>
                            <div
                              id="collapseOne"
                              class="accordion-collapse collapse show"
                              aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample"
                            >
                              <div class="accordion-body">
                                <p>We only work with brands and people we truly
                                  believe in, ensuring full dedication to your
                                  success. Authenticity drives our strategy and
                                  creates sustainable growth for all parties
                                  involved.</p>
                              </div>
                            </div>
                          </div>

                          <div
                            class="accordion-item fade_bottom_3"
                            style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
                          >
                            <h2 class="accordion-header" id="headingTwo">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo"
                              >
                                Top Talent, Real Impact
                              </button>
                            </h2>
                            <div
                              id="collapseTwo"
                              class="accordion-collapse collapse"
                              aria-labelledby="headingTwo"
                              data-bs-parent="#accordionExample"
                            >
                              <div class="accordion-body">
                                <p>Our team consists of passionate, top-tier
                                  marketers who constantly evolve through our
                                  Disruptive University program. This ensures
                                  they stay ahead of the curve and continue to
                                  drive real impact for your business.</p>
                              </div>
                            </div>
                          </div>

                          <div
                            class="accordion-item fade_bottom_3"
                            style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
                          >
                            <h2 class="accordion-header" id="headingThree">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                              >
                                Data-Driven Marketing Strategy
                              </button>
                            </h2>
                            <div
                              id="collapseThree"
                              class="accordion-collapse collapse"
                              aria-labelledby="headingThree"
                              data-bs-parent="#accordionExample"
                            >
                              <div class="accordion-body">
                                <p>Our marketing strategies align closely with
                                  your business goals. We combine data,
                                  insights, and a clear understanding of the
                                  customer journey to deliver optimized results
                                  across every channel.</p>
                              </div>
                            </div>
                          </div>

                          <div
                            class="accordion-item fade_bottom_3"
                            style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
                          >
                            <h2 class="accordion-header" id="headingFour">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour"
                              >
                                Innovation for Breakthrough Results
                              </button>
                            </h2>
                            <div
                              id="collapseFour"
                              class="accordion-collapse collapse"
                              aria-labelledby="headingFour"
                              data-bs-parent="#accordionExample"
                            >
                              <div class="accordion-body">
                                <p>We don't just follow best practices. Our team
                                  is always pushing the boundaries of what's
                                  possible, finding new ways to deliver
                                  breakthrough results that make a real
                                  difference for your business.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img class="faq__img6-1" src="/imgs/bg/4/1.png" alt="Shape" />
                  <img class="faq__img6-2" src="/imgs/bg/4/2.png" alt="Shape" />
                </div>
              </section>

            </div>

            <div class="swiper-slide">
              <section
                class="portfolio-section portfolio__service pt-140 pb-140"
              >
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6">
                      <h2 class="sec-title"> I MAKE THE Service BETTER.</h2>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-6">
                      <div class="sec-text">
                        <p>Static and dynamic secure code review can prevent a
                          0day before your product is even released. We can
                          integrate with your dev environment</p>
                      </div>
                    </div>
                  </div>
                  <div class="portfolio__service-list">
                    <div class="row">
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="portfolio__service-item">
                          <a href="service-details.html">
                            <h3 class="ps-title">Frontend
                              <br />
                              Developemnt</h3>
                            <ul>
                              <li>+ WordPress</li>
                              <li>+ Python</li>
                              <li>+ PHP &amp; Laravel</li>
                            </ul>
                          </a>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="portfolio__service-item">
                          <a href="service-details.html">
                            <h3 class="ps-title">Backend<br /> Developemnt</h3>
                            <ul>
                              <li>+ WordPress</li>
                              <li>+ Python</li>
                              <li>+ PHP &amp; Laravel</li>
                            </ul>
                          </a>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="portfolio__service-item">
                          <a href="service-details.html">
                            <h3 class="ps-title">Android<br /> Developemnt</h3>
                            <ul>
                              <li>+ WordPress</li>
                              <li>+ Python</li>
                              <li>+ PHP &amp; Laravel</li>
                            </ul>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xxl-12">
                      <div class="ps-btn">
                        <a href="contact.html">Call me to get more extra service
                          <strong>call now</strong></a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="swiper-slide">
              <section class="portfolio-section portfolio__footer-area pt-130">

                <!-- Contact area start -->
                <div class="">
                  <div class="container">
                    <div class="row">
                      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="sec-title-wrapper">
                          <h2 class="pf-title">Let’s get in touch 🤟</h2>
                        </div>
                      </div>
                      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="contact__text">
                          <p>Great! We're excited to hear from you and let's
                            start something special togerter. call us for any
                            inquery.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                        <div class="pf-contact">

                          <ul>
                            <li><a href="tel:+(19)">+(19) 99425 02245</a></li>
                            <li><a
                                href="mailto:hello@jsraghavan.com"
                              >hello@jsraghavan.com</a></li>0
                          </ul>
                        </div>
                        <div class="pf-social">
                          <h3>follow </h3>
                          <ul>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#">Dribble</a></li>
                            <li><a href="#">Meduim</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                        <div class="contact__form">
                          <form action="#">
                            <div class="row g-3">
                              <div class="col-xxl-6 col-xl-6 col-12">
                                <input
                                  type="text"
                                  name="name"
                                  placeholder="Name *"
                                />
                              </div>
                              <div class="col-xxl-6 col-xl-6 col-12">
                                <input
                                  type="email"
                                  name="email"
                                  placeholder="Email *"
                                />
                              </div>
                            </div>
                            <div class="row g-3">
                              <div class="col-xxl-6 col-xl-6 col-12">
                                <input
                                  type="tel"
                                  name="phone"
                                  placeholder="Phone"
                                />
                              </div>
                              <div class="col-xxl-6 col-xl-6 col-12">
                                <input
                                  type="text"
                                  name="subject"
                                  placeholder="Subject *"
                                />
                              </div>
                            </div>
                            <div class="row g-3">
                              <div class="col-12">
                                <textarea
                                  name="message"
                                  placeholder="Messages *"
                                ></textarea>
                              </div>
                            </div>
                            <div class="row g-3">
                              <div class="col-12">
                                <div class="pc-btn">
                                  <button class="wc-btn-dark">Send Message</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Contact area end -->

                <!-- Footer area start -->
                <footer class="portfolio__footer">
                  <div class="container">
                    <div class="pf-btm">
                      <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
                          <div class="footer__copyright-2">
                            <p>© 2025 | Alrights reserved by
                              <a
                                href="https://jsraghavan.me/"
                                target="_blank"
                              >JS Raghavan</a>
                            </p>
                          </div>
                        </div>
                        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7">
                          <div class="footer__nav">
                            <ul class="footer-menu menu-anim">
                              <li><a href="about.html">about us</a></li>
                              <li><a href="contact.html">contact</a></li>
                              <li><a href="career.html">Career</a></li>
                              <li><a href="faq.html">FAQs</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
                <!-- Footer area end -->
              </section>
            </div>

          </div>
          <div class="swiper-pagination circle-pagination-2"></div>
        </div>
      </div>

    </main>

  </div>
</div>