<section class="wrapper bg-gradient-primary">
  <div class="container pt-10 pt-md-14 pb-8 text-center">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7">
        <figure><img
            class="w-auto"
            src="/img/illustrations/i2.png"
            srcset="/img/illustrations/i2@2x.png 2x"
            alt=""
          /></figure>
      </div>
      <!-- /column -->
      <div
        class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start"
      >
        <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">Empowering Your Ideas with
          Us</h1>
        <p class="lead fs-lg mb-7">Transforming your concepts into reality,
          Bumble Bees IT Solutions is your dedicated partner for innovative and
          tailored IT solutions.</p>

        <span><a class="btn btn-primary rounded-pill me-2">Contact us</a></span>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
  <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
    <div class="row gx-md-8 gx-xl-12 gy-6 align-items-center">
      <div class="col-md-8 col-lg-6 mx-auto">
        <figure><img
            class="w-auto"
            src="/img/illustrations/i3.png"
            srcset="/img/illustrations/i3@2x.png 2x"
            alt=""
          /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-5 mb-5">2024 NEW OFFER: TRY BEFORE YOU BUY</h2>
        <p class="mb-6">DRIVE IMMEDIATE IMPACT FOR YOUR BUSINESS. Experience The
          Disruptive Difference & receive a winning strategy within your first
          30 days for FREE. We only work with brands we believe in, see if you
          qualify.</p>
        <div class="row counter-wrapper gy-6">
          <div class="col-md-4">
            <h3 class="counter">4.8/5</h3>
            <p>Rated on Clutch</p>
          </div>
          <!--/column -->
          <div class="col-md-4">
            <h3 class="counter">1000+</h3>
            <p>Reviews</p>
          </div>
          <!--/column -->
          <div class="col-md-4">
            <h3 class="counter">30</h3>
            <p>Days for Winning Strategy</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->

    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-4">
        <h2
          class="fs-15 text-uppercase text-line text-primary text-center mb-3"
        >What Marketers Say About Disruptive</h2>
        <h3 class="display-5 mb-5">★★★★★ Loved by Business Owners & Marketers</h3>
        <p>Our clients trust us to deliver results, and we are committed to
          their success. Here’s what some of them have to say about working with
          us.</p>
      </div>
      <!--/column -->
      <div class="col-lg-8">
        <div
          class="swiper-container text-center mb-6"
          data-margin="30"
          data-dots="true"
          data-items-xl="3"
          data-items-md="2"
          data-items-xs="1"
        >
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="rounded-circle w-20 mx-auto mb-4"
                  src="/img/avatars/t1.jpg"
                  srcset="/img/avatars/t1@2x.jpg 2x"
                  alt=""
                />
                <h4 class="mb-1">Dider Bizimungu</h4>
                <div class="meta mb-2">Paid Media Director, Matterport</div>
                <p class="mb-2">"We are a unique company with unique solutions,
                  so having a flexible, receptive, & knowledgeable partner is
                  crucial to us achieving our goals."</p>
                <nav class="nav social justify-content-center text-center mb-0">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-slack"></i></a>
                  <a href="#"><i class="uil uil-linkedin"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img
                  class="rounded-circle w-20 mx-auto mb-4"
                  src="/img/avatars/t2.jpg"
                  srcset="/img/avatars/t2@2x.jpg 2x"
                  alt=""
                />
                <h4 class="mb-1">Maggie Li</h4>
                <div class="meta mb-2">Growth Marketing Manager, MyHealthTeams</div>
                <p class="mb-2">"The workflow between our teams is seamless and
                  based on mutual trust and communication. The team at DA is
                  really knowledgeable."</p>
                <nav class="nav social justify-content-center text-center mb-0">
                  <a href="#"><i class="uil uil-youtube"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img
                  class="rounded-circle w-20 mx-auto mb-4"
                  src="/img/avatars/t3.jpg"
                  srcset="/img/avatars/t3@2x.jpg 2x"
                  alt=""
                />
                <h4 class="mb-1">Kaili Spear</h4>
                <div class="meta mb-2">Marketing Manager, Grow.com</div>
                <p class="mb-2">"They started getting results quickly and the
                  leads are already moving through the funnel. We are super
                  happy."</p>
                <nav class="nav social justify-content-center text-center mb-0">
                  <a href="#"><i class="uil uil-linkedin"></i></a>
                  <a href="#"><i class="uil uil-tumblr-square"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.swiper-slide -->
            </div>
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<section class="section-frame overflow-hidden">
  <div class="wrapper bg-soft-primary" style="border-radius: 1rem;">
    <div class="container py-17">
      <div class="row text-center">
        <div class="col-xl-11 col-xxl-10 mx-auto">
          <h2 class="fs-16 text-uppercase text-muted mb-3">Company Facts</h2>
          <h3 class="display-4 mb-10 px-lg-20 px-xl-20">Here are the key facts
            about our company’s success and growth.</h3>
          <div class="row gy-6 text-center">

            <!-- /column -->
            <div class="col-md-6 col-lg-3">
              <div class="progressbar semi-circle leaf" data-value="90"></div>
              <h4>90+</h4>
              <p class="mb-0">Clients with us for 4 years or more</p>
            </div>
            <!-- /column -->
            <div class="col-md-6 col-lg-3">
              <div class="progressbar semi-circle pink" data-value="160"></div>
              <h4>160+</h4>
              <p class="mb-0">Employees aligned with our mission</p>
            </div>
            <!-- /column -->
            <div class="col-md-6 col-lg-3">
              <div
                class="progressbar semi-circle yellow"
                data-value="145"
              ></div>
              <h4>#145</h4>
              <p class="mb-0">On the Inc. 500 Fastest-Growing Companies list</p>
            </div>
            <!-- /column -->
            <div class="col-md-6 col-lg-3">
              <div
                class="progressbar semi-circle yellow"
                data-value="450"
              ></div>
              <h4>$450M+</h4>
              <p class="mb-0">In annual ad-spend managed for clients</p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-6 mb-10">
      <div class="col-lg-6 order-lg-2">
        <ul class="progress-list">
          <li>
            <p>Authenticity</p>
            <div class="progressbar line soft-violet" data-value="100"></div>
          </li>
          <li>
            <p>Top Talent</p>
            <div class="progressbar line soft-blue" data-value="85"></div>
          </li>
          <li>
            <p>Marketing Strategy</p>
            <div class="progressbar line soft-leaf" data-value="90"></div>
          </li>
          <li>
            <p>Breakthrough Results</p>
            <div class="progressbar line soft-pink" data-value="95"></div>
          </li>
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">What We Do?</h2>
        <p class="lead fs-20 mb-5">Disruptive Advertising is the #1 most
          reviewed digital marketing agency. We manage over $450+ million in
          annual ad spend and work exclusively with brands and marketers who
          align with our values. Our approach is centered around authenticity,
          top talent, and data-driven marketing strategies that deliver
          breakthrough results.</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-6 text-center">
      <div class="col-md-6 col-lg-3">

        <h4>Authenticity</h4>
        <p class="mb-2">We work exclusively with brands and people we believe
          in, ensuring our hearts and minds are fully committed to your success.
          Authenticity is at the core of everything we do, creating a
          win-win-win mindset that fosters value, growth, and sustainability.</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3">

        <h4>Top Talent</h4>
        <p class="mb-2">Our team comprises top-notch marketers who are
          passionate about what they do. Through our Disruptive University
          program, we continuously develop and retain talent that can drive real
          impact for your business.</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3">

        <h4>Marketing Strategy</h4>
        <p class="mb-2">We align your business goals with the right marketing
          strategy, ensuring every effort drives success. Our Disruptive
          Difference process clarifies your objectives & customer journey, then
          leverages data-informed decisions to help you win with each marketing
          channel.</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3">

        <h4>Breakthrough Results</h4>
        <p class="mb-2">We leverage the right people, tools, and technology to
          deliver breakthrough results. Beyond best practices and playbooks, our
          experts constantly innovate and find new ways to win.</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row text-center">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="fs-15 text-uppercase text-muted mb-3">Maximize Your Marketing
          Funnel</h2>
        <h3 class="display-4 mb-9 px-xl-11">We don't just manage your ad
          accounts—we provide a full-funnel strategy to help you achieve your
          marketing goals.</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-8">
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/agenda.svg"
              class="svg-inject icon-svg icon-svg-sm text-aqua me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Advertising</h4>
            <p class="mb-0">We leverage the best advertising platforms to help
              you drive targeted traffic and maximize your ROI across all
              channels.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/browser.svg"
              class="svg-inject icon-svg icon-svg-sm text-yellow me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Search Engine Optimization</h4>
            <p class="mb-0">Optimize your website for search engines to increase
              visibility and organic traffic, ensuring long-term growth and
              success.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/search.svg"
              class="svg-inject icon-svg icon-svg-sm text-red me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Paid Search</h4>
            <p class="mb-0">Target potential customers through paid search
              campaigns on Google and other search engines to drive immediate
              results.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/web.svg"
              class="svg-inject icon-svg icon-svg-sm text-pink me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Paid Social</h4>
            <p class="mb-0">Boost your brand awareness and engagement by running
              paid social media campaigns on platforms like Facebook, Instagram,
              and LinkedIn.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/amazon-icon.svg"
              class="svg-inject icon-svg icon-svg-sm text-green me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Amazon Marketing</h4>
            <p class="mb-0">Take your business to the next level by running
              targeted marketing campaigns on Amazon, one of the world’s largest
              e-commerce platforms.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/target-2.svg"
              class="svg-inject icon-svg icon-svg-sm text-purple me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Creative Services</h4>
            <p class="mb-0">Create compelling content that resonates with your
              audience, from ad creatives to landing pages and everything in
              between.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/email.svg"
              class="svg-inject icon-svg icon-svg-sm text-aqua me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Email Marketing</h4>
            <p class="mb-0">Engage your customers with targeted email campaigns
              that drive action and build lasting relationships.</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row">
          <div>
            <img
              src="/img/icons/lineal/expand.svg"
              class="svg-inject icon-svg icon-svg-sm text-orange me-4"
              alt=""
            />
          </div>
          <div>
            <h4 class="mb-1">Website Optimization</h4>
            <p class="mb-0">Enhance your website's performance, user experience,
              and conversion rates with continuous testing and optimization.</p>
          </div>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->